@import "tailwindcss";

.window-controls {
  padding: 10px;
  background-color: #f3f4f622;
  -webkit-app-region: drag; /* Allow dragging the window */
}
.window-controls button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
  -webkit-app-region: no-drag; /* Prevent dragging on buttons */
}
.window-controls button:hover {
  color: #666;
}

/* .card {
  background: #ffffff;
  box-shadow: 7px 7px 14px #adadad, -7px -7px 14px #f3f3f3;
} */

.play-button {
  border-radius: 50%;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow: 7px 7px 14px #adadad, -7px -7px 14px #ffffff;
  cursor: pointer;
}

.play-button:hover {
  border-radius: 50%;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 7px 7px 14px #adadad, -7px -7px 14px #ffffff;
}

.folder-button {
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  /* box-shadow: 5px 5px 12px #adadad, -5px -5px 12px #f3f3f3; */
  cursor: pointer;
}

.folder-button:hover {
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  /* box-shadow: 7px 7px 12px #adadad, -23px -23px 46px #ffffff; */
}

/* .run-button {
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 9px 9px 12px #adadad, -9px -9px 12px #f3f3f3;
  cursor: pointer;
}

.run-button:hover {
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow: 9px 9px 12px #adadad, -9px -9px 12px #ffffff;
} */
